<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="path/to/line-awesome/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Mua thẻ điện thoại</title>
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <a href="index.html">
                <span>
                    Moblie Bank
                </span>
            </a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <button type="button" onclick="navigateHomepage()" class="ButtonSidebar">                      
                            Trang chủ                      
                    </button>
                </li>

                <li>
                    <button type="button" onclick="navigateDeAndWith()" class="ButtonSidebar">
                        Nạp tiền & Rút tiền
                    </button>
                </li>

                <li>
                    <button type="button" onclick="navigateTransfers()" class="ButtonSidebar">
                        Chuyển tiền
                    </button>
                </li>

                <li>
                    <button type="button" onclick="navigateBuyCard()" class="ButtonSidebar">
                        Mua thẻ điện thoại
                    </button>
                </li>

                <li>
                    <button type="button" onclick="navigateProfile()" class="ButtonSidebar">
                        Thông tin chi tiết
                    </button>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="">
                    <a href="index.html">
                        <span class="las la-bars">
                            Trang chủ 
                        </span>
                    </a>
                </label>
            </h2>

            <div class="search-wrapper">
                <a href="">
                    <span class="las la-search">
                        <input type="search" placeholder="Search Here">
                    </span>
                </a>

            </div>

            <div class="user-wrapper">
                <a href="profile.html"><img src="image/1.jpg" width="40px" height="40px" alt=""></a>
                <div>
                    <h4>Name</h4>
                    <small>Money</small>
                </div>
            </div>
        </header>
    </div>
    <div class="content">
        <div class="container">
            <div class="title">Mua thẻ điện thoại</div>
            <div class="main-content">
                <form action="#">
                    <div class="buyCard-details">
                        <div class="input-box">
                            <label for="chooseCompany">Chọn nhà cung cấp:</label>

                            <select name="Company" id="cars">
                                <option value="Viettel">Viettel</option>
                                <option value="Mobiphone">Mobiphone</option>
                                <option value="Vinaphone">Vinaphone</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <label for="chooseTypeofMoney">Chọn giá tiền:</label>

                            <select name="typeOfMoney" id="typeOfMoney">
                                <option value="k10">10.000</option>
                                <option value="k20">20.000</option>
                                <option value="k50">50.000</option>
                                <option value="k100">100.000</option>
                                <option value="k200">200.000</option>
                                <option value="k500">500.000</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <span class="amount">Nhập số lượng</span>
                            <input type="text" placeholder="Nhập số lượng" required>
                        </div>
                    </div>

                    <div class="button">
                        <input type="submit" value="Xác nhận mua">

                    </div>
                    <div class="button">
                        <input type="submit" value="Hủy">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function navigateProfile() {
            window.location = "profile.html";
        }

        function navigateHomepage() {
            window.location = "index.html";
        }

        function navigateDeAndWith() {
            window.location = "depositeAndWithdraw.html";
        }

        function navigateTransfers() {
            window.location = "transfers.html";
        }

        function navigateBuyCard() {
            window.location = "buyCard.html";
        }
    </script>
</body>

</html>