<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="path/to/line-awesome/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>HomePage</title>
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <a href="index.html">
                <span>
                    Moblie Bank
                </span>
            </a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <button type="button" onclick="navigateHomepage()" class="ButtonSidebar">                      
                            Trang chủ                      
                    </button>
                </li>

                <li>
                    <button type="button" onclick="navigateDeAndWith()" class="ButtonSidebar">
                        Nạp tiền & Rút tiền
                    </button>
                </li>

                <li>
                    <button type="button" onclick="navigateTransfers()" class="ButtonSidebar">
                        Chuyển tiền
                    </button>
                </li>

                <li>
                    <button type="button" onclick="navigateBuyCard()" class="ButtonSidebar">
                        Mua thẻ điện thoại
                    </button>
                </li>

                <li>
                    <button type="button" onclick="navigateProfile()" class="ButtonSidebar">
                        Thông tin chi tiết
                    </button>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="">
                    <a href="index.html">
                        <span class="las la-bars">
                            Trang chủ 
                        </span>
                    </a>
                </label>
            </h2>

            <div class="search-wrapper">
                <a href="">
                    <span class="las la-search">
                        <input type="search" placeholder="Search Here">
                    </span>
                </a>

            </div>

            <div class="user-wrapper">
                <a href="profile.html"><img src="image/1.jpg" width="40px" height="40px" alt=""></a>
                <div>
                    <h4>Name</h4>
                    <small>Money</small>
                </div>
            </div>
        </header>
    </div>
    <div class="content">
        <div id="wrapper">
            <div class="info">
                <div class="avatar">
                    <img src="image/1.jpg" alt="">
                </div>
                <div class="name">
                    <p>Nguyễn Phúc Luân
                        <i class="fas fa-check-circle"></i>
                    </p>
                </div>
            </div>
            <ul class="analyst">

                <li>
                    <p>Điện thoại
                        <p>0123456789</p>
                    </p>

                </li>
                <li>
                    <p>Email
                        <p>nguyenphucluan19022000@gmail.com</p>
                    </p>

                </li>
                <li>
                    <p>Họ và tên
                        <p>Nguyễn Phúc Luân</p>
                    </p>
                </li>
            </ul>
            <ul class="analyst">

                <li>
                    <p>Ngày sinh
                        <p>19/02/2000</p>
                    </p>

                </li>
                <li>
                    <p>Địa chỉ
                        <p>Tien Giang</p>
                    </p>

                </li>
                <li>
                    <p>Ngày kích hoạt
                        <p>01/01/2022</p>
                    </p>
                </li>
            </ul>
            <ul class="analyst">

                <li>
                    <p>Tên đăng nhập
                        <p>0123456789</p>
                    </p>

                </li>
                <li>
                    <p>Mật khẩu
                        <p>**********************</p>
                    </p>

                </li>
                <li>
                    <p>Trạng thái
                        <p>Đang hoạt động</p>
                    </p>
                </li>
            </ul>
            <div class="actions">
                <div class="update">Cập nhật</div>
            </div>
            <div class="videos">
                <div class="video">
                    <img src="image/a.avif" alt="">
                </div>
                <div class="video">
                    <img src="image/b.avif" alt="">
                </div>
            </div>
        </div>
    </div>
    <script>
        function navigateProfile() {
            window.location = "profile.html";
        }

        function navigateHomepage() {
            window.location = "index.html";
        }

        function navigateDeAndWith() {
            window.location = "depositeAndWithdraw.html";
        }

        function navigateTransfers() {
            window.location = "transfers.html";
        }

        function navigateBuyCard() {
            window.location = "buyCard.html";
        }
    </script>
</body>

</html>