<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span></span>Moblie Bank</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="">
                        <span class="las la-home" class="active">Trang chủ</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-dollar-sign">Nạp tiền & Rút tiền</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-money-bill-wave">Chuyển tiền</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-money-bill">Mua thẻ điện thoại</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-user">Thông tin chi tiết</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-door-closed">Đăng xuất</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="">
                    <span class="las la-bars"> </span>
                </label> Trang chủ
            </h2>

            <div class="search-wrapper">
                <a href="">
                    <span class="las la-search">
                        <input type="search" placeholder="Search Here">
                    </span>
                </a>

            </div>

            <div class="user-wrapper">
                <img src="image/1.jpg" width="40px" height="40px" alt="">
                <div>
                    <h4>Name</h4>
                    <small>Money</small>
                </div>
            </div>
        </header>
    </div>

    <div class="content">
        <div class="container">
            <div class="title">Mua thẻ điện thoại</div>
            <div class="main-content2">
                <form action="#">
                    <div class="buyCard-details">
                        <div class="input-box">
                            <span class="">Chọn mạng di động:</span>
                            <select name="Company" id="cars">
                                <option value="Viettel">Viettel</option>
                                <option value="Mobiphone">Mobiphone</option>
                                <option value="Vinaphone">Vinaphone</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <span class="">Chọn giá tiền</span>
                            <select name="typeOfMoney" id="typeOfMoney">
                                <option value="k10">10.000đ</option>
                                <option value="k20">20.000đ</option>
                                <option value="k50">50.000đ</option>
                                <option value="k100">100.000đ</option>
                                <option value="k200">200.000đ</option>
                                <option value="k500">500.000đ</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <span class="amount">Nhập số lượng</span>
                            <input type="text" placeholder="Nhập số lượng" required>
                        </div>
                    </div>

                    <div class="button">
                        <input type="submit" value="Xác nhận mua">

                    </div>
                    <div class="button">
                        <input type="submit" value="Hủy">
                    </div>

                    <h2 class="">Mua thẻ thành công / thất bại</h2>
                    <span class="">Mã thẻ: </span>
                    <br>
                    <span class="">Số seri: </span>
                </form>
            </div>
        </div>
    </div>
</body>