<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span></span>Moblie Bank</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="">
                        <span class="las la-home" class="active">Trang chủ</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-dollar-sign">Nạp tiền & Rút tiền</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-money-bill-wave">Chuyển tiền</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-money-bill">Mua thẻ điện thoại</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-user">Thông tin chi tiết</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-door-closed">Đăng xuất</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="">
                    <span class="las la-bars"> </span>
                </label> Trang chủ
            </h2>

            <div class="search-wrapper">
                <a href="">
                    <span class="las la-search">
                        <input type="search" placeholder="Search Here">
                    </span>
                </a>

            </div>

            <div class="user-wrapper">
                <img src="image/1.jpg" width="40px" height="40px" alt="">
                <div>
                    <h4>Name</h4>
                    <small>Money</small>
                </div>
            </div>
        </header>
    </div>
    <div class="content">
        <div id="wrapper">
            <div class="info">
                <div class="avatar">
                    <img src="image/1.jpg" alt="">
                </div>
                <div class="name">
                    <p>Nguyễn Phúc Luân
                        <i class="fas fa-check-circle"></i>
                    </p>
                </div>
            </div>
            <ul class="analyst">

                <li>
                    <p>Điện thoại
                        <p>0123456789</p>
                    </p>

                </li>
                <li>
                    <p>Email
                        <p>nguyenphucluan19022000@gmail.com</p>
                    </p>

                </li>
                <li>
                    <p>Họ và tên
                        <p>Nguyễn Phúc Luân</p>
                    </p>
                </li>
            </ul>
            <ul class="analyst">
                <li>
                    <p>Ngày sinh
                        <p>19/02/2000</p>
                    </p>

                </li>
                <li>
                    <p>Địa chỉ
                        <p>Tien Giang</p>
                    </p>

                </li>
                <li>
                    <p>Ngày kích hoạt
                        <p>01/01/2022</p>
                    </p>
                </li>
            </ul>
            <ul class="analyst">

                <li>
                    <p>Tên đăng nhập
                        <p>0123456789</p>
                    </p>

                </li>
                <li>
                    <p>Mật khẩu
                        <p>**********************</p>
                    </p>

                </li>
                <li>
                    <p>Trạng thái
                        <p>Đang hoạt động</p>
                    </p>
                </li>
            </ul>
            <div class="actions">
                <div class="update">
                    <a href="">Cập nhật</a>
                </div>
            </div>
            <div class="videos">
                <div class="video">
                    <img src="image/a.avif" alt="">
                </div>
                <div class="video">
                    <img src="image/b.avif" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
